@charset "utf-8";
/* CSS Document */

/* Fonts */

/* cuprum-regular - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum.woff') format('woff'), /* Modern Browsers */
}
/* cuprum-italic - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumitalic.woff') format('woff'), /* Modern Browsers */
}
/* cuprum-700 - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbold.woff') format('woff'), /* Modern Browsers */
}
/* cuprum-700italic - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbolditalic.woff') format('woff'), /* Modern Browsers */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsans.woff') format('woff'), /* Modern Browsers */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsansbold.woff') format('woff'), /* Modern Browsers */
}

/* Variables */

:root {
  
  --sub-panel-color: #293449; /* --dark-blue: */
  --main-panel-color: #32425C; /* --basic-blue: */
  
  --help-color-service-list: #405069;
  
  --main-shadow-color: rgba(0, 0, 0, 0.15);
  
  --main-button-color: #EE3643; /* --basic-red: */
  --main-button-active-color: #BA2732; /* --darken-red: */
  --main-button-hover-color: #CA2C37; /* --dark-red: */
  --sub-button-color: #FF5357; /* --light-red: */
  --sub-button-active-color: #161D29; /* --darken-blue: */
  --extra-button-color: #63A63E; /* --basic-green: */
  --extra-button-hover-color: #5FBB2D; /* --light-green: */
  --extra-button-active-color: #518534; /* --dark-green: */
  --user-menu-active-button: #C5C5C5; /* --basic-gray: */
  --user-menu-active-button-hover: #B5B5B5;
  --sprite-basic-color: #3D546F; /* --light-blue: */
  
  --tile-button-color: rgba(255, 255, 255, 0.3); /* --transparent-white: */
  --tile-button-hover-color: rgba(169, 169, 169, 0.3); /* --transparent-gray: */
  --tile-button-active-color: rgba(197, 197, 197, 0.3); /* --transparent-dark-gray: */
  
    
  --main-text-color: #000; /* --black: */
  --disabled-main-text-color: rgba(0, 0, 0, 0.3);
  --sub-text-color: #FFF; /* --white: */
  --sub-text-active-color: rgba(255, 255, 255, 0.5); /* --very-transparent-white: */
  --extra-text-color: #FFD180; /* --basic-yellow: */
  --deleted-text-color: #A9A9A9; /* --light-gray: */
 
  --header-background-color: #F3F7F8; /* --basic-off-white: */
  --title-background-color: #F2F6F8; /* --dark-off-white: */
  --content-background-color: #F9F5F0; /* --light-off-white: */
  --background-color: #FFF; /* повтор */
  --info-background-color: #F1F5F7; /* --darken-off-white*/
  --social-background-color: #212A3A; /* --darken-blue: */
  --navigation-active-background-color: #1D2739; /* --darkest-blue: */
  --catalog-filter-backgroun-color: #F7F3EC;
  --slider-background-color: #999; /* --darkest-gray: */
  --slider-background-text-color: rgba(0, 0, 0, 0.25);
  --popup-background-color: #F1F1F1;
  
  --content-tile-orange: #FFC047;
  --content-tile-blue: #3BBCE3;
  --content-tile-pink: #DC91D8;
  --content-tile-green: #8ED78F;
  
  --filter-button-border-color: #E5E5E5;
}

/* общие правила для страницы */

.page {
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-text-color);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-body a {
  text-decoration: none;
  color: var(--sub-text-color);
}

.page-body ul {
  list-style: none;
  padding: 0;
}

/* header */

.main-header {
  background-color: var( --header-background-color);
  padding-bottom: 60px;
}

.main-header-logo {
  padding-top: 5px;
  background-color: var(--main-button-color);
  min-height: 42px;
  box-shadow: inset 0px -5px 0px var(--slider-background-text-color);
}


.main-header-logo:active {
  background-color: var(--main-button-active-color);
}

/* end header logo */

/* buttons */

.button {
  color: var(--sub-text-color);
  text-transform: uppercase;
  outline: none;
  border: none;
  height: 38px;
  display: inline-block;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}

.catalog-button {
  background-color: var(--main-button-color);
  width: 192px;
}

.catalog-button:hover {
  background-color: var(--main-button-hover-color);
}

.price-button {
  background-color: var(--main-button-color);
  font-weight: 700;
  border: none;
  font-size: 17px;
  line-height: 18px;
  width: 129px;
  border-radius: 3px;
  justify-self: center;
  margin-top: 13px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.price-button::before {
}

.price-button::after {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-top-width: 19px;
  border-bottom-width: 19px; 
  border-left-color:  var(--main-button-color);
  width: 0;
  height: 0;
  top: 0;
  right: calc(-115px/3);
}

.buy-button {
  background-color: var(--extra-button-color);
}

.buy-button::before {
  content: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.buy-button:hover {
  background-color: var(--extra-button-hover-color);
}

.buy-button:active {
  background-color: var(--extra-button-active-color);
}

.bookmark-button {
  background-color: var(--background);
  color: var(--main-panel-color);
  border: 3px solid var(--extra-button-color);
}

.bookmark-button:active {
  opacity: 0.5;
}

.bookmark-button:hover {
  border-color: var(--main-panel-color);
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

.search-panel {
  display: flex;
  width: 100%;
  max-height: 42px;
}

.search-panel input {
  background-color: inherit;
  box-shadow: none;
  outline: none;
  border: none;
  order: 1;
  width: 100%;
  color: var(--sub-text-color);
}

.search-panel input::-webkit-search-cancel-button {
	display: none;
}

.search-panel input::placeholder {
  color: var(--sub-text-color);
}

.search-panel label {
  width: 17px;
  height: 17px;
  background-color: inherit;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px 50%;
  cursor: pointer;
  padding: 12px 8px 13px 17px;
  opacity: 0.3;
}

.search-panel label:hover,
.search-panel input:hover + label {
  opacity: 1;
}

.search-panel input:focus,
.search-panel input:focus + label {
  background-color: var(--background-color);
  color: var(--main-text-color);
}

.search-panel input:focus + label {
  opacity: 1;
  background-image: url("../img/icon-search-focus.svg");
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

.header-top-panel {
  background-color: var(--sub-panel-color);
  font-size: 18px;
  line-height: 24px;

}

/*
.header-top-panel a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
} */

.top-panel-button,
.checkout-button {
  padding-top: 9px;
  max-height: 33px;
  text-align: center;
  position: relative;
}


.top-panel-button:active {
  background-color: var(--sub-button-active-color);
  color: var(--sub-text-active-color);
}

.top-panel-button::before {
  color: var(--sub-text-color);
  opacity: 0.3;
}

.top-panel-button:hover::before {
  opacity: 1;
}

.top-panel-button:active::before {
  opacity: 0.3;
}

.look-bookmarks {
  padding-left: 43px;
  padding-right: 24px;
}

.look-bookmarks::before {
  content: '';
  background: url("../img/icon-bookmark.svg") no-repeat;
  background-position: 10px 13px;
  width: 43px;
  height: 42px;
  position: absolute;
  left: 10px;
  top: 0;
}

.look-cart {
  padding-left: 49px;
  padding-right: 26px;
}

.look-cart::before {
  content: '';
  background: url("../img/icon-cart.svg") no-repeat center;
  width: 43px;
  height: 42px;
  position: absolute;
  left: 13px;
  top: -1px;
}

.checkout-button {
  background-color: var(--extra-button-color);
}

.checkout-button:active {
  color: var(--sub-text-active-color);
}

.checkout-button:hover {
  background-color: var(--extra-button-hover-color);
}

.catalog-button:active {
  background-color: var(--main-button-active-color);
}

/* end buttons*/

.top-panel-intefrace {
  display: grid;
  grid-template-columns: 220px 1fr repeat(3, 150px);
  height: 42px;
}


.header-slogan {
  color: var(--main-button-color);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin-left: 30px;
  cursor: default;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  align-items: start;
}

.header-content-section {
  margin-bottom: 0;
  margin-top: 0;
}

.header-content-section .header-tel {
  color: var(--main-button-color);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  outline: 3px solid var(--sub-text-color);
  width: 270px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tel::before {
  content: '';
  background: url("../img/icon-phone.svg") no-repeat;
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.header-adress {
  color: var(--main-panel-color);
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 3px;
}

/* user menu buttons */
/*______________________________*/

.user-interface {
  display:flex;
  margin: 0;
  margin-left: auto;
}

.user-menu-button {
  background-color: var(--background-color);
  height: 45px;
  margin-left: 10px;
  padding: 0 24px 0 19px;
}

.user-menu-button a {
  color: var(--main-text-color);
  font-size: 21px;
  line-height: 21px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.user-menu-button .log-out-button {
  font-size: 0;
  position: relative;
  top: 5px;
}

.user-menu-button:last-child {
  padding-left: 24px;
}

.logged-out-button:hover {
  color: var(--main-button-color); 
}

.log-in-button::before {  
  content: '';
  background: url("../img/icon-login.svg") no-repeat;
  margin-right: 6px;
  width: 20px;
  height: 17px;
}

.log-in-button:hover::before {
  background: url("../img/icon-login-hover.svg") no-repeat;
}

.log-in-button:active::before {
  background: url("../img/icon-login.svg") no-repeat;
}


.logged-in-button::before {
  content: url('../img/icon-user.svg');
  margin-right: 20px;
}

.log-out-button::before {
  content: url("../img/icon-logout.svg");
  margin-left: 20px;
}

.log-in-button:hover::before,
.logged-in-button:hover::before,
.log-out-button:hover::before {
  color: var(--sprite-basic-color);
}

.log-in-button::before,
.log-in-button:active::before, 
.logged-in-button::before,
.logged-in-button:active::before, 
.log-out-button::before,
.log-out-button:active::before {
  color: var(--user-menu-active-button);
}

.logged-in-button:active::before {
  color: var(--user-menu-active-button);
}

.user-menu-button a:active {
  color: var(--user-menu-active-button); 
}

.user-menu-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  width: 210px;
  align-self: center;
  flex-wrap: wrap;
}

.user-menu-controls a {
  color: var(--main-panel-color);
  font-size: 16px;
  line-height: 18px;
}

.user-menu-controls a:last-child {
  order: 2;
}

.user-menu-controls a:hover {
	color: var(--main-button-color);
}

.user-menu-controls a:active {
	color: var(--user-menu-active-button);
}

.user-menu-controls::before {
	content: '\2022';
  order: 1;
  color: var(--main-panel-color);
}

.user-menu-controls:hover::before {
  color: var(--main-button-color);
}

.user-menu-controls:active::before {
  color: var(--user-menu-active-button);
}

/* end user menu buttons */

/* navigation buttons */

.main-navigation {
}

.header-site-navigation {
  background-color: var(--main-panel-color);
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  margin: 0;
  margin-top: 40px;
  box-shadow: inset 0px -5px 0px var(--sub-panel-color);
}

.header-site-navigation a {
  display:flex;
  align-items:center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.header-site-navigation li {
  flex-grow: 1;
  text-align: center;
}

.header-site-navigation a:hover {
  background-color: var(--sub-panel-color);
}

.header-site-navigation a:active {
  background-color: var(--navigation-active-background-color);
  color: var(--sub-text-active-color);
  box-shadow: inset 0px -5px 0px var(--sub-panel-color);
}

/* end navigation buttons */

/* content */

/* slider + tile */

.text-slider {
  color: var(--sub-text-color);
  background-color: var(--slider-background-text-color);
  height: 104px;
}

.text-container {
  padding: 23px 0 0 24px;
}

.text-slider h3 {
  font-size: 36px;
  font-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.text-slider p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.content-slider-navigation {
  position: relative;
}

.slider-button {
  position: absolute;
  top: -133px;
  border: none;
  height: 25px;
  width: 25px;
  border: 3px solid var(--sub-text-color);
  font-size: 0;
  outline: none;
  background: none;
  transform: rotate(45deg);
  cursor: pointer;
}

.slider-button-back {
  left: 24px;
  border-top: none;
  border-right: none;
}

.slider-button-next {
  right: 20px;
  border-bottom: none;
  border-left: none;
}

.content-slider-strider {
  position: absolute;
  bottom: 36px;
  width: 30px;
  left: 295px;
  display: flex;
  justify-content: space-between;
}

.content-slider-strider button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--background-color);
  border: 2px solid var(--sub-text-color);
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  outline: none;
}

.content-slider-strider .active {
  background-color: var(--main-button-color);
}

.drills-slider {
  background: url("../img/slider-drill.jpg") no-repeat;
  height: 266px;
  width: 620px;
  background-color: var(--slider-background-color);
}

.perforators-slider {
  background: url("../img/slider-perforator.jpg") no-repeat;
  height: 266px;
  width: 620px;
  background-color: var(--slider-background-color);
}

.grid-slider {
  grid-area: 2 / 1 / 4 / 3;
  position: relative;
}

.content-tile {
  margin: 0;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}

.main-header,
.center,
.main-footer {
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.card-product {
  font-size: 17px;
  line-height: 18px;
  width: 220px;
  height: 318px;
  margin-right: 20px;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 50% 1fr 1fr 1fr;
  justify-content: center;
  font-weight: 700;
  margin-top: 20px;
  position: relative;
  outline: 1px solid var(--filter-button-border-color);
}

.card-product:hover {
  box-shadow: 0px 4px 20px var(--main-shadow-color);
}

.product-action {
  display: none;
  justify-self: center;
}

.index-catalog .card-product:nth-child(4n) {
  margin-right: 0;
}

.card-product img {
  justify-self: center;
  margin: auto;
}

.card-product h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  max-width: 170px;
  text-align: center;
  justify-self: center;
  margin-top: 19px;
}

.card-product del {
  color: var(--deleted-text-color);
  justify-self: center;
  font-size: 17px;
  line-height: 18px;
  margin-top: 7px;
}

.brands-tile {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.brands-tile li {
  width: 220px;
  min-height: 145px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: var(--background-color);
  outline: 1px solid var(--filter-button-border-color);
  text-align: center;
}

.brands-tile li:hover {
  box-shadow: 0px 4px 20px var(--main-shadow-color);
}

.brands-tile li:nth-child(4n) {
  margin-right: 0;
}

.brands-tile li:hover {}

.brands-tile li:active {
  opacity: 0.5;
}

.brands-tile a {
  display:flex;
  align-items:center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.brands-tile img {
}

.content-tile-item {
  position: relative;
}

.content-tile-item a {
  display: block;
  height: 100%;
  width: 100%;
}

.content-tile-item:nth-child(2) {
  background-color: var(--content-tile-orange);
  background-image: url("../img/icon-1.svg");
}

.content-tile-item:nth-child(3) {
  background-color: var(--content-tile-blue);
  background-image: url("../img/icon-2.svg");
}
.content-tile-item:nth-child(4) {
  background-color: var(--content-tile-pink);
  background-image: url("../img/icon-3.svg");
}
.content-tile-item:nth-child(5) {
  background-color: var(--content-tile-green);
  background-image: url("../img/icon-4.svg");
}

.content-tile-item:last-child {
  background-color: var(--content-tile-orange);
  background-image: url("../img/icon-5.svg");
}

.content-tile-item {
  background-repeat: no-repeat;
  background-position: 85% calc((63/123)*100%);
}

.content-tile-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 20px;
  margin: 0;
  margin-left: 23px;
}

.tile-button {
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--tile-button-color);
  display: inline-block;
  margin: 13px 0 0 23px;
  height: 38px;
  width: 135px;
}

.tile-button:hover {
  background-color: var(--tile-button-hover-color);
}

.tile-button:active {
  background-color: var(--tile-button-active-color);
}


/* end slider + tile */

/* main content */

.center {
  display: grid;
}

.content-categories {
}

.content-slider-list {
}

.content-slider-item {
}

.content-slider-item .button {
  margin-top: 97px;
  margin-left: 24px;
}

.popular-products {
}

.popular-title {
  background-color: var(--content-background-color);
  text-transform: uppercase;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.popular-title h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-left: 28px;
}

.popular-title a {
  font-size: 14px;
  margin-right: 14px;
}

/* end main content */

/* info */

.services {
  background-color: var(--info-background-color);
  margin-top: 70px;
}

.services .container {
  font-size: 13px;
  line-height: 24px;
  display: grid;
  grid-template-columns: 240px 1fr;
  row-gap: 70px;
  column-gap: 80px;
}

.services-about {
  grid-column: 1 / -1;
}

.services-menu {
  position: relative;
}


.services-list::after {
  content: '';
  background: url("../img/shadow.png");
  height: 297px;
  width: 10px;
  position: absolute;
  right: 0;
  top: -15%;
 /* content: url(../img/shadow.png);
  position: absolute;
  top: -44px;
  right: 0; */
}

.service-item {
  height: 61px;
/*  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; */
  line-height: 61px;
  padding-left: 22px;
  font-weight: 700;
  box-sizing: border-box;
  border-bottom: 1px solid var(--sub-panel-color);
  border-top: 1px solid var(--help-color-service-list);
  cursor: pointer;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us .info-title {
  margin-top: 72px;
}

.logistic-info {
  width: 460px;
}

.logistic-info .button {
  width: 220px;
  margin-top: 20px;
}

.contacts-info {
  width: 300px;
}

.contacts-info .button {
  width: 300px;
}

.services-list {
  color: var(--sub-text-color);
  background-color: var(--main-panel-color);
  font-size: 21px;
  line-hieght: 30px;
  margin: 0;
}

.service-item:hover {
  background-color: var(--sub-panel-color);
}

.services-list .active { /* повышение специфичности селектора */
  background-color: var(--sub-text-color);
  color: var(--main-panel-color);
  border: none;
}

.info-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 64px;
}

.info-paragraph {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  margin-top: 25px;
}

.delivery-paragraph {
  width: 278px;
}

.guarantee-paragraph {
  width: 318px;
}

.credit-paragraph {
  width: 318px;
}

.credit-paragraph + .catalog-button {
  width: 195px;
  margin-top: 27px;
}

.services-item .info-title {
  color: var(--main-panel-color);
  margin: 0;
}

.services-item {
  width: 619px;
  height: 276px;
}

.delivery-back {
  background-image: url("../img/delivery-back.png");
}

.guarantee-back {
  background-image: url("../img/guarantee-back.png");
}

.credit-back {
  background-image: url("../img/credit-back.png");
}

.services-item-text {
  width: 619px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.about-us > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logistic-list {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  position: relative;
}

.logistic-list li {
  margin-left: 37px;
  margin-top: 12px;
}

.logistic-list li:first-child {
  margin-top: 0;
}

.logistic-list li::before {
  content: '';
  border: 1px solid var(--main-button-color);
  writing-mode: tb-rl;
  position: absolute;
  width: 25px;
  left: 0;
  margin-top: 12px;
}

/* end info */

/* catalog-page */

.breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  grid-area: 1 / 1 / 1 / 3;
  margin: 0;
  margin-top: 20px;
}


.breadcrumbs a {
  color: var(--main-text-color);
  margin-right: 40px;
  position: relative;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li::after {
  content: url("../img/icon-right-small.svg");
  position: absolute;
  top: 0; right: 12px;
}

.breadcrums-home a {
  font-size: 0;
}

.breadcrums-home a::before {
  content: url('../img/icon-home.svg');
  width: 14px;
  height: 12px;
}

.breadcrums-current::after {
  display: none;
}

.category-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  background-color:  var(--title-background-color);
  grid-area: 2 / 1 / 2 / 3;
  margin: 0;
  padding-left: 29px;
  height: 89px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.catalog-filter {
  font-family: "PT Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.catalog-filter h3 {
  height: 38px;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.catalog-filter > * {
}

.catalog-page-content {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.main-catalog .card-product:nth-child(3n) {
  margin-right: 0;
}

.catalog-filter .filter-form {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter h3 {
  background-color: var(--catalog-filter-backgroun-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.catalog-filter h2 {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option {
  margin-top: 20px;
  margin-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -31px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox + label:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox + label:active::before {
  background-image: url("../img/checkbox-off-active.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked + label:hover::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:checked + label:active::before {
  background-image: url("../img/checkbox-on-active.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -31px;
  top: -2px;
  width: 15px;
  height: 15px;
  border: 4px solid var(--user-menu-active-button);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-color: var(--user-menu-active-button);
  border-radius: 50%;
}

.filter-input-radio + label:hover::before {
  border-color: var(--user-menu-active-button-hover);
}

.filter-input-radio:checked + label:hover::after {
  background-color: var(--user-menu-active-button-hover);
}

.filter-input-radio + label:active::before {
  opacity: 0.75;
}

.filter-input-radio:checked + label:active::after {
  opacity: 0.75;
}

.filter-input-radio + label:active,
.filter-input-checkbox + label:active {
  opacity: 0.4;
}

.catalog-filter .filter-form {
  border-bottom: 1px solid var(--filter-button-border-color);
  margin-bottom: 18px;
  padding-bottom: 27px;
}

.catalog-filter .filter-form:last-of-type {
  border-color: transparent;
}

.sorting-controls {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--catalog-filter-backgroun-color);
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding-left: 19px;
}

.sorting-controls h3 {
  width: 220px;
}

.sorting-controls button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  border-bottom: 1px dotted var(--main-button-color);
  color: var(--disabled-main-text-color);
  text-transform: uppercase;
  cursor: pointer;
}

.sorting-controls button:hover {
  border-bottom: 1px solid var(--main-button-color);
  color: var(--main-text-color);
}

.sorting-controls .active {
  border: none;
  color: var(--main-button-color);
}

.sort-direction {
  margin-top: -10px;
}

.sort-arrow {
  font-size: 0; /* будет 0 */
  position: relative;
}

.sort-arrow::before {
  content: '';
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--user-menu-active-button);
  position: absolute;
  left: 0;
  top: -4px;
}


.sort-arrow:last-child {
  transform: rotate(180deg);
  margin-left: 31px;
  margin-right: 17px;
}

.sort-direction .active::before {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--main-button-color);
}

.sort-arrow:hover::before {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--main-text-color);
}

.catalog-page-button {
  border: 1px solid var(--filter-button-border-color);
  border-radius: 2px;
  color: var(--main-text-color);
  outline: none;
  background-color: var(--background-color);
}

.catalog-page-button:hover {
  border-color: var(--user-menu-active-button);
}

.catalog-page-button:active {
  border-color: var(--main-button-color);
}

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 38px;
  margin: 0;
  margin-top: 48px;
}

.page-navigation li {
}

.catalog-page-button {
  margin-right: 10px;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-prev-button,
.page-next-button {
  padding: 0 31px 0 32px;
  height: 38px;
}

.page-navigation a {
  color: var(--main-text-color);
}

.page-navigation .active {
  color: var(--sub-text-color);
  background-color: var(--main-button-color);
  border-color: var(--main-button-color);
  
}

.resume-button {
  color: var(--main-text-color);
  background-color: var(--background-color);
}


/* end catalog page */

/* footer */

.main-footer {
  background-color: var(--main-panel-color);
  color: var(--sub-text-color);
  z-index: 1;
  height: 300px;
}

.main-footer-content {
  font-size: 18px;
  line-height: 24px;
  display: grid;
  grid-template-columns: 380px 1fr;
  justify-content: space-between;
  grid-row-gap: 22px;
}

.main-footer-content > * {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-footer-navigation,
.secondary-footer-navigation {
  justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
}

.main-footer-navigation {
  margin-left: 14px;
  margin-top: 16px;
  width: 547px;
}

.secondary-footer-navigation {
  margin-left: 37px;
  margin-top: -6px;
  width: 524px;
}

.footer-contacts {
}

/*

.footer-contacts {
}

.footer-site-navigation {
  justify-content: flex-end;
  align-self: flex-end;
  height: 45px;
  width: 550px;
}

.secondary-footer-navigation {
  justify-content: space-around;
  align-self: baseline;
  height: 35px;
}

.footer-site-navigation,
.secondary-footer-navigation {
  justify-content: space-between;
}

*/

.main-footer-logo {
  text-transform: uppercase;
  background-color: var(--main-button-color);
  max-width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0px var(--slider-background-text-color);
  justify-content: center;
}

.secondary-footer-navigation a,
.footer-bottom-panel a {
  color: var(--extra-text-color);
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer a:active {
  text-decoration: none;
}

.main-footer-content a:active {
  opacity: 0.5;
}

.footer-bottom-panel {
  margin-top: 54px;
  height: 107px;
}

.footer-bootom-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, min-content);
  height: 100%;
  align-items: center;
  justify-content: center;
}

.footer-bottom-panel a:active {
  color: var(--main-button-color);
}

.footer-bottom-panel {
  background-color: var(--sub-panel-color);
  font-size: 16px;
  line-height: 18px;
}

.social ~ p {
  display: flex;
  flex-wrap: wrap;
  padding-left: 51px;
}

.social {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social li {
  position: relative;
}

.social a {
  background-color: var(--social-background-color);
  color: var(--sub-text-color);
  font-size: 0;
}

.social a:hover {
  background-color: var(--main-button-color);
}

.social a:active {
  background-color: var(--main-button-color);
  color: var(--main-text-color);
}

.social *::before {
  background-color: inherit;
  border-radius: 50%;
  min-width: 44px;
  min-height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 18px 2px 0 2px;
}

.social-vk::before {
  content: '';
  background-image: url("../img/icon-vk.svg");
}

.social-fb::before {
  content: '';
  background-image: url("../img/icon-fb.svg");
}

.social-inst::before {
  content: '';
  background-image: url("../img/icon-insta.svg");
}
/* end footer */

/* временные наработки, подлежат оптимизации во время код-ревью (перед защитой) */

.filter-form {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}


/* в будущем проще ставить #цвет, (но создавать при этом переменную --цвет: #цвет,)а потом поиском с заменой вставлять нужную переменную, уже сейчас ощущаю, что это было бы быстрее */

.about-category {
  background-color: var(--info-background-color);
  margin-top: 59px;
  padding-bottom: 68px;
}

.about-category h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 64px;
}

.about-category p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  margin-top: 25px;
}

.contacts-info button {
  border: none;
  outline: none;
  margin-top: 32px;
}

.contacts-info a {
  margin-top: 25px;
}

.logged-in-interface {
  flex-direction: column;
}

.logged-in-interface .user-menu-button {
  padding: 0;
  display: grid;
  grid-template-columns: max-content min-content;
  width: 300px;
  justify-content: center;
}

.user-menu-button a {
}

.new-label::after {
  content: url("../img/new.svg");
  position: absolute;
  right: 0;
  top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup {
  border-top: 7px solid var(--main-button-color);
  box-shadow: 0px 4px 20px var(--main-shadow-color);
  position: fixed;
  left: 50%;
  top: 50%;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
}

/*
.popup .close-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.popup .close-button::before {
  content: '';
  background: url("../img/icon-close.svg");
  width: 21px;
  height: 21px;
  position: absolute;
  right: 10px;
  top: 10px;
}

*/

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 27px;
  height: 3px;
  background-color: var(--main-button-color);
  border-radius: 1px;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.write-us-popup {
  width: 620px;
  height: 423px;
  margin-left: -315px;
  margin-top: -211px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}

.write-us-popup label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  height: 24px;
  padding-top: 5px;
}

.write-us-popup input,
.write-us-popup textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid var(--user-menu-active-button);
  border-radius: 2px;
}

#message {
  grid-column-start: 1;
  grid-column-end: -1;
}

.write-us-form textarea {
  padding-top: 6px;
  padding-bottom: 6px;
  resize: none;
}

.write-us-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 24px 38px 24px 114px;
  grid-column-gap: 20px;
  grid-row-gap: 12px;
  width: 460px;
}

.map-popup {
  height: 442px;
  width: 943px;
  margin-left: -471px;
  margin-top: -221px;
}

.map-popup iframe {
  border: none;
}

.write-us-popup .submit-button {
  background-color: var(--main-button-color);
  width: 460px;
}

.top-panel-intefrace > .active{
  background-color: var(--main-button-color);
}

.top-panel-intefrace > .active:hover {
  background-color: var(--main-button-hover-color)
}

.top-panel-intefrace > .active:active {
  background-color: var(--main-button-active-color)
}

.cart-popup {
  width: 620px;
  height: 275px;
  margin-left: -310px;
  margin-top: -141px;
}

.popup-content {
  margin: auto;
  position: relative;
}

.popup-content h2::before {
  content: '';
  background: url("../img/icon-mark.svg") no-repeat center;
  height: 66px;
  width: 66px;
  position: absolute;
  left: -94px;
  top: -18px;
}

.popup-content h2 {
  margin: 0;
}

.popup .controls {
  background-color: var(--popup-background-color);
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.popup .button {
  margin: 0 5px;
}

.cart-popup .button {
  border-radius: 0;
  width: 192px;
}

.cart-popup .checkout-button {
  background-color: var(--main-button-color);
}