@charset "utf-8";
/* CSS Document */

/* Fonts */

/* cuprum-regular - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprum.woff') format('woff'), /* Modern Browsers */
}
/* cuprum-italic - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumitalic.woff') format('woff'), /* Modern Browsers */
}
/* cuprum-700 - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbold.woff') format('woff'), /* Modern Browsers */
}
/* cuprum-700italic - latin */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cuprumbolditalic.woff') format('woff'), /* Modern Browsers */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsans.woff') format('woff'), /* Modern Browsers */
}
/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ptsansbold.woff') format('woff'), /* Modern Browsers */
}

/* Variables */

:root {
 
}


.page-body {
  background-color: var(--background-color);
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--main-text-color);
}

.page-body ul {
  list-style: none;
}

/* header */

.main-header {
  background-color: var( --header-background-color);
}

.header-top-panel {
  background-color: var(--sub-panel-color);
  font-size: 18px;
  line-height: 24px;
  min-height: 42px;
}

/* header-logo */

.main-header-logo {
  background-color: var(--main-button-color);
  border-radius: 0;
}

.main-header-logo:active {
  background-color: var(--main-button-active-color);
}

/* end header logo */

/* buttons */

.button {
  color: var(--sub-text-color);
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 2px;
}

.catalog-button {
  background-color: var(--main-button-color);
}

.catalog-button:hover {
  background-color: var(--main-button-hover-color);
}

.price-button {
  background-color: var(--main-button-color);
  font-weight: 700;
  border: none;
}

.buy-button {
  background-color: var(--extra-button-color);
}

.buy-button:hover {
  background-color: var(--extra-button-hover-color);
}

.buy-button:active {
  background-color: var(--extra-button-active-color);
}

.bookmark-button {
  background-color: var(--background);
  color: var(--main-panel-color);
  border: 3px solid var(--extra-button-color);
}

.bookmark-button:active {
  opacity: 0.5;
}
.bookmark-button:hover {
  border-color: var(--main-panel-color);
}

/* здесь будут стили для формы поиска, когда дойду до форм */

.top-panel-button:active {
  background-color: var(--sub-button-active-color);
  color: var(--sub-text-active-color);
}

.top-panel-button::before {
  color: var(--sub-text-color);
  opacity: 0.3;
}

.top-panel-button:hover::before {
  opacity: 1;
}

.checkout-button {
  background-color: var(--extra-button-color);
}

.checkout-button:active {
  color: var(--sub-text-active-color);
}

.checkout-button:hover {
  background-color: var(--extra-button-hover-color);
}

.catalog-button:active {
  background-color: var(--main-button-active-color);
}

/* end buttons*/

.header-content h1 {
  display: none;
}

.header-slogan {
  color: var(--main-button-color);
  font-style: italic;
  sont-size: 16px;
  line-height: 23px;
}

.header-content-section .header-tel {
  color: var(--main-button-color);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.header-adress {
  color: var(--main-panel-color);
  font-size: 14px;
  line-height: 24px;
}

/* user menu buttons */
/*______________________________*/

.user-menu-button a {
  color: var(--main-text-color);
  font-size: 21px;
  line-height: 21px;  
}

.user-menu-button .log-out-button {
  font-size: 12px; /* здесть будет 0 */
}

.logged-out-button:hover {
  color: var(--main-button-color); 
}

.log-in-button::before {
  content: 'sprte1';
}

.logged-in-button::before {
  content: 'sprite2';
}

.log-out-button::before {
  content: 'sprite3';
}

.log-in-button:hover::before,
.logged-in-button:hover::before,
.log-out-button:hover::before {
  color: var(--sprite-basic-color);
}

.log-in-button::before,
.log-in-button:active::before, 
.logged-in-button::before,
.logged-in-button:active::before, 
.log-out-button::before,
.log-out-button:active::before {
  color: var(--user-menu-active-button);
}

.logged-in-button:active::before {
  color: var(--user-menu-active-button);
}

.user-menu-button a:active {
  color: var(--user-menu-active-button); 
}

.user-menu-controls a {
  color: var(--main-panel-color);
  font-size: 16px;
  line-height: 18px;
}

.user-menu-controls a:hover {
	color: var(--main-button-color);
}

.user-menu-controls a:active {
	color: var(--user-menu-active-button);
}

.user-menu-controls::before {
	content: '\2022';
}

.user-menu-controls:hover::before {
  color: var(--main-button-color);
}

.user-menu-controls:active::before {
  color: var(--user-menu-active-button);
}

/* end user menu buttons */

/* navigation buttons */

.main-navigaton {
}

.header-site-navigation {
  background-color: var(--main-panel-color);
  font-size: 18px;
  line-height: 24px;
}

.header-site-navigation a:hover {
  background-color: var(--sub-panel-color);
}

.header-site-navigation a:active {
  background-color: var(--navigation-active-background-color);
  color: var(--sub-text-active-color);
}

/* end navigation buttons */

/* content */

/* slider + tile */

.text-slider {
  color: var(--sub-text-color);
}

.text-slider h3 {
  font-size: 36px;
  font-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.text-slider p {
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
}

.drills-slider {
  background: url("../img/slider-drill.jpg") no-repeat;
  height: 266px;
  width: 620px;
  background-color: var(--slider-background-color);
}

.perforators-slider {
  background: url("../img/slider-perforator.jpg") no-repeat;
  height: 266px;
  width: 620px;
  background-color: var(--slider-background-color);
}

.content-tile-item:first-child,
.content-tile-item:last-child {
  background-color: var(--content-tile-orange);
}

.content-tile-item:nth-child(2) {
  background-color: var(--content-tile-blue);
}
.content-tile-item:nth-child(3) {
  background-color: var(--content-tile-pink);
}
.content-tile-item:nth-child(4) {
  background-color: var(--content-tile-green);
}

.content-tile-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.content-tile-item p {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--tile-button-color);
}

.content-tile-item p:hover {
  background-color: var(--tile-button-hover-color);
}

.content-tile-item p:active {
  background-color: var(--tile-button-active-color);
}

/* end slider + tile */

/* main content */

.popular-title {
  background-color: var(--content-background-color);
  text-transform: uppercase;
}

.popular-title h2 {
  font-size: 30px;
  line-height: 30px;
}

.popular-title a {
  font-size: 14px;
  line-height: 18px;
}

.card-product {
  font-size: 17px;
  line-height: 18px;
}

.card-product h3 {
  font-size: 18px;
  line-height: 20px;
}

.card-product del {
  color: var(--deleted-text-color);
}

.brands-tile li:hover {}

.brands-tile li:active {
  opacity: 0.5;
}

/* end main content */

/* info */

.services {
  background-color: var(--info-background-color);
  font-size: 13px;
  line-height: 24px;
}

.services-list {
  color: var(--sub-text-color);
  background-color: var(--main-panel-color);
  font-size: 21px;
  line-hieght: 30px;
}

.services-list .active { /* повышение специфичности селектора */
  background-color: var(--sub-text-color);
  color: var(--main-panel-color);
}

.service-item:hover {
  background-color: var(--sub-panel-color);
}

.info-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info-paragraph {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services-item h2 {
  color: var(--main-panel-color);
}

.logistic-list {
  font-size: 18px;
  line-height: 24px;
}

/* end info */

/* catalog-page */

.breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a {
  color: var(--main-text-color);
}

.category-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  background-color:  var(--title-background-color);
}

.catalog-filter {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-filter h3 {
  background-color: var(--catalog-filter-backgroun-color);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.catalog-filter h2 {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting-controls {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--catalog-filter-backgroun-color)
}

.sorting-controls button {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  border-bottom: 1px dotted var(--main-button-color);
  color: var(--disabled-main-text-color);
  text-transform: uppercase;
}

.sorting-controls button:hover {
  border-bottom: 1px solid var(--main-button-color);
  color: var(--main-text-color);
}

.sorting-controls .active {
  border: none;
  color: var(--main-button-color);
}

.arrow {
  font-size: 8px; /* будет 0 */
}

.catalog-page-button {
  border: 1px solid var(--filter-button-border-color);
  border-radius: 2px;
  color: var(--main-text-color);
  outline: none;
  background-color: var(--background-color);
}

.catalog-page-button:hover {
  border-color: var(--user-menu-active-button);
}

.catalog-page-button:active {
  border-color: var(--main-button-color);
}

.page-navigation a {
  color: var(--main-text-color);
}

.page-navigation .active {
  color: var(--sub-text-color);
  background-color: var(--main-button-color);
}

.cart-popup div {
  background-color: var(--popup-background-color);
}

.cart-popup button {
  border-radius: 0;
}

.cart-popup .checkout-button {
  background-color: var(--main-button-color);
}

.resume-button {
  color: var(--main-text-color);
  background-color: var(--background-color);
}


/* end catalog page */

/* footer */

.main-footer {
  background-color: var(--main-panel-color);
  color: var(--sub-text-color);
}

.main-footer-content {
  font-size: 18px;
  line-height: 24px;
}

.main-footer-logo {
  text-transform: uppercase;
  background-color: var(--main-button-color);
  border-radius: 0;
}

.secondary-footer-navigation a,
.footer-bottom-panel a {
  color: var(--extra-text-color);
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer a:active {
  text-decoration: none;
}

.main-footer-content a:active {
  opacity: 0.5;
}

.footer-bottom-panel a:active {
  color: var(--main-button-color);
}

.footer-bottom-panel {
  background-color: var(--sub-panel-color);
  font-size: 16px;
  line-height: 18px;
}

.social a {
  background-color: var(--social-background-color);
  color: var(--sub-text-color);
}

.social a:hover {
  background-color: var(--main-button-color);
}

.social a:active {
  background-color: var(--main-button-color);
  color: var(--main-text-color);
}

/* end footer */

/* временные наработки, подлежат оптимизации во время код-ревью (перед защитой) */

.filter-form {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}


/* в будущем проще ставить #цвет, (но создавать при этом переменную --цвет: #цвет,)а потом поиском с заменой вставлять нужную переменную, уже сейчас ощущаю, что это было бы быстрее */

.about-category {
  background-color: var(--info-background-color);
}

.about-category h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-category p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.contacts-info .map-mini {
  border: none;
  outline: none;
}